*{
    font-family:Arial, Helvetica, sans-serif;
    background-color:antiquewhite
}
ul{
    font-size:24px;
    list-style-type:none;
    text-align:center;
}
h1{
    color: darkolivegreen;
    text-align:center;
    font-size:48px;
}
div{
    text-align:center;

}